@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,500&family=Sofia+Sans:wght@500&display=swap');

:root{
  --bg-page: #2C2C2C;
  --color-font-one: white;
  --color-font-two: #08D763;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-style: italic;
}

html{ scroll-behavior: smooth; 
/* opacity: .8; */
  /* animation: op 10s infinite  ease-in-out; */
  }

ul, li, a{
  list-style: none;
  text-decoration: none;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #4948a3 #545454;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #545454;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #00863a;
    border-radius: 20px;
    border: 3px none #ffffff;
  }


body{
  background: conic-gradient(at right bottom, rgb(15, 23, 42), rgb(88, 28, 135), rgb(15, 23, 42));
  box-shadow: inset 5px 5px 100px rgba(89, 28, 135, 0.219), inset -5px -5px 100px rgba(89, 28, 135, 0.308) ;    
  /* filter: saturate(30%); */

}


h1{
  margin-bottom: 1rem;
}

p{
  color: aliceblue;
}

/* @keyframes op {
  0%{
    filter: grayscale(0%);
  }
  50%{
    filter: grayscale(100%);
  }
  100%{
    filter: grayscale(0%);
  }
} */