.formacion_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  
}

.formacion_container_card{
    width: 80%;
    max-width: 300px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(36, 36, 212, 0.171);
    text-align: center;
    color: aliceblue;
    border-radius: 1rem;
}



.formacion_container_card>img{
    background-color: rgb(26, 28, 32);
    display: inline-block;
    border-radius: 1rem 1rem 0 0;
    object-fit: contain;
    max-height: 150px;
    height: 30vh;
    width: 100%;
    opacity: .8;
}
.formacion_container_card>p{
    padding: 10px;
}