#menu, #close,.navbar, .navbar_menu{ position: fixed; top: 0px;}

#menu, #close{ right: 10px; cursor: pointer; }

body{
    color: #08D763;
}

main, .header>*:not(nav){
  padding: 5%;
}

/* section{
  padding: 10% 0;
} */

.navbar{
    display: flex;
    height: 2rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: all .8s ease-in-out;
}

.navbar_bg{
  box-shadow: inset 10px 10px 20px rgb(0, 77, 128) , inset -10px -10px 20px rgb(0, 45, 128) ;
}

.navbar_menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  gap: 2rem;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 52, 90, 0.288);
}

.navbar_title{
  z-index: 1000;
}

.navbar_menu>li>a{color: #49db88;  }


.navbar_menu>li>a:hover{
  display: inline-block;
  width: 100%;
  border-bottom: 2px solid blanchedalmond;
}

.header{
  position: relative;
}
.header, .header_info{ width: 100%; height: 100vh; }


.header_info_img{
  margin-top: 1rem;
  width: 100%;
  height: 50vh;
  z-index: -10;
}

.header_info_email{
  text-align: center;
  font-size: 5vw;
}

.header_info_title{
  font-size: 5.5vw;
  margin: 20px 0;
}

.header_info_description{
  font-size: 4.5vw;
  color: aliceblue;
}


.header_networks{
  width: 100%;
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  font-size: 4.5vw;
}

.header_networks>a{
  border: 1px solid #08D763; 
  padding: .2rem .5rem;
  color: aliceblue !important;
  display: inline-block;
  color: rgb(0, 0, 0);
  box-shadow: inset 2px 2px 5px #08d7629a, inset -2px -2px 5px #08d7629a;
}


.borde{
  position: absolute;
  width: 90%;
  bottom: 0;
  left: 5%;
  height: 5px;
  animation: header-bar 4s infinite  alternate ease-in-out;
  border: 1px solid rgb(229, 255, 0);
  background-color: #08D763;
}

@keyframes header-bar{
  from{
    box-shadow: -0px -25px 50px #ffe60085, -0px -25px 50px  #ffe60073, -0px -25px 50px  #bbff0071;
  }

  to{
    box-shadow: -0px -25px 50px #d0ff00, -0px -25px 50px  #b3ff00, -0px -25px 50px  #d0ff00,
  }
}


.show{ display: flex ; }
.hide{ display: none; }

