.left, .right{
    background-color: rgba(250, 235, 215, 0);
    outline: none;
    border: 0;
    font-size: 5rem;
    z-index: 10;
    top: 50%;
    position: absolute;
    cursor: pointer;
}

.left{ left: 0%; }
.right{ right: 0%; }



.proyectos{
    padding-top: 2rem;
    position: relative;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    width: 100%;
}


.proyectos_card{
    width: 80%;
    height: 300px;
    background-color: rgba(91, 103, 114, 0.616);
    border-radius: 1rem;
    padding: 1rem;
    backdrop-filter: blur(5px);
    text-align: center;

}

#project_img{
    display: inline-block;
    max-width: 100%;
    height: 60%;
    border-radius: 1rem;
}

.proyectos_card_details{ text-align: center; }

.proyecto>div>p{
    margin: 2%;
}

.proyectos_card_details>a{
    display: inline-block;
    margin: 4%; 
    background-color: black;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 5px;
}



